
<div class="card">
    <div class="card-header">
        Alumno IRIC
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filtrar por:</div>
            <div class="col-md-4">
                <input [(ngModel)]="listFilter" class="form-control" name="filter" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-md6">
                <h3>Filtro: {{listFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="alumnos.length">
                <thead>
                    <tr>
                        <th><button (click)="showImage()" class="btn btn-primary">{{muestraImg?'Ocultar ':'Mostrar '}}Imagen</button></th>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Pago</th>
                        <th>Calificacion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnos | alumnosFilter:listFilter">
                        <td><img *ngIf="muestraImg"
                            class="object-fit-cover"
                            [style.width.px]="imageWidth"
                            [style.margin.px]="imageMargin"
                            [title]="alumno.nombre"
                            [src]="alumno.foto"></td>
                        <td>{{alumno.matricula}}</td>
                        <td>{{alumno.nombre | uppercase}}</td>
                        <td>{{alumno.edad}}</td>
                        <td>{{alumno.correo}}</td>
                        <td>{{alumno.pago | currency}}</td>
                        <td>{{alumno.calif}}</td>
                        <td><app-calificacion-alum [califica]="alumno.calif"></app-calificacion-alum></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
